@model List<Device>

<table class="table mt-4">
    <thead>
        <tr>
            <th>
                Serial
            </th>
            <th>
                LastIp
            </th>
            <th>
                TcpAvailable
            </th>
            <th>
                UpdatedAt
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (Device item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Serial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastIp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TcpAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @using (Html.BeginForm()) {
                    <input formnovalidate hidden name="serial" id="@item.Serial" value="@item.Serial">
                    <button formnovalidate name="X-HTTP-Method-Override" value="POST">Launch</button>
                    <button name="X-HTTP-Method-Override" value="GET">Edit</button>
                    <button name="X-HTTP-Method-Override" value="GET">Details</button>
                    <button name="X-HTTP-Method-Override" value="DELETE">Delete</button>
                }
            </td>
        </tr>
}
    </tbody>
</table>

